<%- include('./partials/header') %>
<script src="https://www.paypal.com/sdk/js?client-id=<%= CLIENT_ID %>"></script>
<script src="/search_qs.js"></script>
<script src="/answers.js"></script>
<script src="/dropdown_qs.js"></script>
<title>Ready !</title>

  </head>
<body>
<%- include('./partials/navbar') %>
<!-- <div id="loader" class="loader_center"></div> -->
<div class="page2">
  <div class="dash_section1">
    <div class="dashboard_intro">
      <h2>My dashboard <i class="fa fa-regular fa-circle-plus" style="color: #a8deff;"></i> </h2>
    </div>

    <div class="dashboard_search">
      <div class="search-bar">
        <input
          type="text"
          id="search-input"
          placeholder="What are you looking for?"
        />
        <button id="search-button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="dash_section2">
    <div class="user_dash">
      <div class="user_content">
        <h1>Good Evening User !</h1>
        <br />
        <p>A simple quote of the day !</p>
      </div>
      <div class="user_img">
        <img src="/vector.png" alt="" />
      </div>
    </div>
    <div class="user_nav">
      <h2><% result.length %> Questions</h2>
      <p>SLIDER HERE !</p>
    </div>
  </div>

  <div class="dash_section3">
    <h4 style="font-weight:700;">Hi User,</h4>
    <h1 style="font-weight:700;">We are here to help</h1>
    <p style="color:grey;">
      Welcome to the expert response to the 50 top
      interview questions tailored to you !
    </p>
  </div>

  <div class="dash_section4">
    <div class="dash_section4_head">
      <h1 style="font-weight:700;">50 Top Interview Questions</h1>
      <p style="color:grey;">Everything you need to know to ace your interviews!</p>
    </div>
    
    
      <% for (let i = 0; i < result.length; i++) { %>
      <div class="qs" id="question<%= i %>">
          <div class="question">
            <div class="question_area">
              <h4><pre>
                <span class="question_text"><%= i+1 %>: <%= result[i].ques %>
                </span>
              </pre></h4>
            </div>
            <div class="question_click">
              <i class="fa fa-regular fa-circle-plus" style="color: #1f78ff;"></i>
            </div>
          </div>  

          <div class="answer">
            <p>
              <pre class="answer_text"><%-result[i].ans %></pre>
            </p>
          </div>
      </div>
      <% } %>
    
    
  </div>

  <div class="dash_section5">
    <div id="paypal_button"></div>
  </div>
  <script src="/paypal_client.js"></script>
 
</div>

<%- include('./partials/footer') %>

