<%- include('./partials/header') %>
<script src="https://www.paypal.com/sdk/js?client-id=<%= CLIENT_ID %>"></script>
<script>
  let isThanksPage = false;
</script>
<script src="/js/search_qs.js"></script>
<script src="/js/q_and_a_drop.js"></script>
<script src="/js/dropdown_qs.js"></script>
<script src="https://kit.fontawesome.com/510a4172a7.js" crossorigin="anonymous"></script>
<script defer src="/js/animate.js"></script>
<title>Ready !</title>

  </head>
<body>
<%- include('./partials/navbar') %>
<!-- <div id="loader" class="loader_center"></div> -->
<div class="page2">
  <div class="dash_section1">
    <div class="dashboard_intro">
      <h2 style="font-family: Poppins;
      font-weight: 500;">My dashboard </h2>
    </div>

    <div class="dashboard_search">
      <div class="search-bar">
        <input
          type="text"
          id="search-input"
          placeholder="What are you looking for?"
        />
        <button id="search-button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="dash_section2">
    <div class="user_dash">
      <div class="user_content">
        <h1>Good Evening User !</h1>
        <br />
        <p>A simple quote of the day !</p>
      </div>
      <div class="user_img">
        <img src="/vector.png" alt="" />
      </div>
    </div>
    <div class="user_nav">
      <div>
        <h2><%- result.length %> Questions</h2>
      </div>
      <div class="dropdown-container">
        <div class="btn-group dropstart">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Select Your Question
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-start">
            <% for (let i = 0; i < result.length; i++) { %>
              <li>
                <a class="dropdown-item" href="#question<%= i %>"><%= i+1 %>: <%= result[i].ques.substring(0, 27) %> ....</a>
                <!-- <li><a class="dropdown-item disabled">Disabled link</a></li> -->
              </li>
              <% } %>
          </ul>
        </div>
      </div>
      
      
    </div>
  </div>

  <div class="dash_section3 hidden1">
    <h4 style="font-weight:700;">Hi User,</h4>
    <h1 style="font-weight:700;">We are here to help</h1>
    <p style="color:grey;">
      Welcome to the expert response to the 50 top
      interview questions tailored to you !
    </p>
  </div>

  <div class="dash_section4">
    <div class="dash_section4_head hidden1">
      <h1 style="font-weight:700;"><%- result.length %> Top Interview Questions</h1>
      <p style="color:grey;">Everything you need to know to ace your interviews!</p>
    </div>
    
    
      <% for (let i = 0; i < result.length; i++) { %>
      <div class="qs " id="question<%=i%>">
          <div class="question hidden1">
            <div class="question_area"><h4><pre><%= i+1 %>: <%= result[i].ques %>
                </pre></h4>
            </div>
            <div class="question_click">
              <% if (i < 2) { %>
                <i class="fa-solid fa-circle-minus" style="color: #5794ff;" onclick="toggleAnswer(`<%- i %>`);"></i>
              <% } else { %>
                <i class="fa-solid fa-circle-plus" style="color: #5794ff;" onclick="toggleAnswer(`<%- i %>`);"></i>
                <% } %>
              </div>
          </div>  
          <% if (i < 2) { %>
            <pre id="answer<%=i%>" class="answer_text hidden1" ><%-result[i].ans %></pre>
          <% } %>
      </div>
      <% } %>
    
    
  </div>

  <div class="dash_section5">
    <div class="pay-button" id = "pay-btn">
      <button type="submit" id="show_paypal" class="btn-p">Pay to view all 50 Answers >></button>
      <div class="paypal_btn" id="paypal_button"></div>
  </div>
  <script>
    function startAnimation() {
      const payBtnElement = document.getElementsByClassName('pay-button')[0];
      payBtnElement.classList.add('animate');
      payBtnElement.scrollIntoView({ behavior: 'smooth', block: 'start' });
    }
    function toggleAnswer(index) {
    const answerElement = document.getElementById(`answer${index}`);
    const iconElement = document.querySelector(`#question${index} .question_click i`);
    if (index >= 2) {
        console.log("Question > 2");
        const payBtnElements = document.getElementsByClassName('pay-button');
        if (payBtnElements.length > 0) {
          payBtnElements[0].scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
    }
    else{
      if (answerElement.style.display === 'none') {
      answerElement.style.display = 'block';
      iconElement.classList.remove('fa-circle-plus');
      iconElement.classList.add('fa-circle-minus');

      
    } else {
      answerElement.style.display = 'none';
      iconElement.classList.remove('fa-circle-minus');
      iconElement.classList.add('fa-circle-plus');
    }
    }
    
  }
  </script>
  <script src="/js/paypal_client.js"></script>
  <script src="/js/page2.js"></script>
</div>

<%- include('./partials/footer') %>

