<%- include('./partials/header') %>
<script>
let isThanksPage = true;
</script>
<script defer src="/js/search_qs.js"></script>
<script src="/js/q_and_a_drop.js"></script>
<script src="/js/dropdown_qs.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/email.js"></script>
<title>Ready !</title>
  </head>
<body>
<%- include('./partials/navbar') %>
<div class="page3">
  <div class="dash_section3" style="margin-top: 2%;">
    <h4 style="font-weight:700;">Your payment is Successful</h4>
    <h1 style="font-weight:700;">Here are your 50 questions</h1>
    <p style="color:grey;">
      Wish you luck for your interview !
    </p>
  </div>

  
  <div class="dash_section2">
    <div class="user_dash">
      <div class="user_content">
        <h1>Good Evening User !</h1>
        <br />
        <p>Simple quote !</p>
        <button  type="button" style="width:auto; font-size:1rem;" class="btn-p2" onclick="window.location.href='/'"> Go Back >> </button>
      </div>
      <div class="user_img">
        <img src="images/happy-user.webp" alt="" />
      </div>
    </div>
    <div class="user_nav">
      <div>
        <h2><%- result.length %> Questions</h2>
      </div>
      <div class="dropdown-container">
        <div class="btn-group dropstart">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Select Your Question
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-start">
            <% for (let i = 0; i < result.length; i++) { %>
              <li>
                <a class="dropdown-item" href="#question<%= i %>"><%= i+1 %>: <%= result[i].ques.substring(0, 27) %> ....</a>
                <!-- <li><a class="dropdown-item disabled">Disabled link</a></li> -->
              </li>
              <% } %>
          </ul>
        </div>
      </div>
      
      
    </div>
  </div>

  <!-- <div class="dash_section3">
    <h4 style="font-weight:700;">Hi User,</h4>
    <h1 style="font-weight:700;">We are here to help</h1>
    <p style="color:grey;">
      Welcome to the expert response to the 50 top
      interview questions tailored to you !
    </p>
  </div> -->
    
    <!----Q/A's---->
  <div class="pdf_sec4">
      <div class="pdf_dash_section4">

      <!---- SEARCH & DROPDOWN OF QUESTIONS----->
      <div class="pdf_tools">
        <!------SEARCH------->
        <div class="dashboard_search">
          <div class="search-bar">
            <!-- Changed input type from text to search-->
            <input
              type="text"
              id="search-input"
              class="search-questions"
              placeholder="           what are you looking for?"
            />
            <!-- <button id="search-button">
              <i class="fas fa-search"></i>
            </button> -->
          </div>
        </div>
  
        <!------DROPDWON TO SELECT QUESTIONS----->
        <!-- <div class="dropdown-container">
            <div class="btn-group dropstart">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Select Your Question
              </button>
              <ul class="dropdown-menu dropdown-menu-lg-start">
                <% for (let i = 0; i < result.length; i++) { %>
                  <li>
                    <a class="dropdown-item" href="#question<%= i %>"><%= i+1 %>: <%= result[i].ques.substring(0, 27) %> ....</a>
                  </li>
                  <% } %>
              </ul>
            </div>
        </div> -->
  
      </div>
      
        <% for (let i = 0; i < result.length; i++) { %>
          <div class="qs " id="question<%=i%>">
              <div class="question">
                <div class="question_area"><h4><pre><%- i+1 %>: <%= unescape(result[i].ques) %></pre></h4></div>
                <div class="question_click">
                  <i class="fa-solid fa-circle-plus fa-lg" style="color: #eb268c"  onclick="toggleAnswer(`<%- i %>`);"></i>
                </div>
              </div>  
              <pre id="answer<%=i%>" class="answer_text " style="display: none;"><%- result[i].ans %></pre>
          </div>
          <% } %>

          <br>
          <!-- <div class="pagination">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="/thanks?page=1">15 Questions</a></li>
                <li class="page-item"><a class="page-link" href="/thanks?page=2">15 Questions</a></li>
                <li class="page-item"><a class="page-link" href="/thanks?page=3">20 Questions</a></li>
              </ul>
            </nav>
          </div> -->
          
      </div>
  </div>
    


    <div class="pdf_display">
      <div class="pdf_email">

        <h2>Here's your curated answers PDF !</h2>
      <br>
      <!-- <div class="buttons pdf_gen_button">
        <button id="pdf_gen_button" class="btn-p">Generate pdf</button>
      </div> -->
      <!-- <div id="pdf_frame_container"> -->
        <iframe id="pdf_frame" src="/pdfs/q_and_a.pdf" width="100%" height="600px"></iframe>
      <!-- </div> -->
      <br><br>
      <button class="btn-p2" onclick="downloadPDF()">Download PDF</button>
      <!-- <a href="/pdfs/q_and_a.pdf" download class="download-button">Download PDF</a> -->
        
      </div>
      <br>
      
    </div>

    <form id="pdf_form" method="post" action="/send-email">
      <div class="card-container">
        <div
          class="card text-center p-4 shadow"
          style="width: 25rem; border-radius: 29px; box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1), 0 25px 25px rgba(0, 0, 0, 0.1);"
        >
          <h2 class="card-title pb-3">Write Your Details</h2>

          <div class="mb-3">
            <label for="user_email" class="form-label">Your Email:</label>
            <input type="email" class="form-control" name="user_email" aria-describedby="emailHelp" required>
          </div>

          <div class="mb-3">
            <label for="user_name" class="form-label"> Your Name:</label>
            <input type="text" class="form-control" name="user_name" aria-describedby="emailHelp" required>
          </div>

          
          <div class="buttons pdf_email_button">
            <button id="email-button" style="font-size:1rem;" type="submit" class="btn-p2">Email Me PDF</button>
          </div>
      </div>
      
     
    </div>
    </form>

    <div class="card" style="margin:5% 0;">
      <div class="card-body">
        <div class="p-4 bg-light text-center align-item-center">
          <h4 class="header-title">Rate your Experience</h4>
          <div class="ratings">
            <i class="fa-regular fa-star fa-lg"></i>
            <i class="fa-regular fa-star fa-lg"></i>
            <i class="fa-regular fa-star fa-lg"></i>
            <i class="fa-regular fa-star fa-lg"></i>
            <i class="fa-regular fa-star fa-lg"></i>
          </div>
    </div>
    </div>
    </div>

    

    
    <footer class="footer text-center text-sm-left" style="color:rgb(72, 65, 65); background-color:rgb(247, 247, 247) ;">
      &copy; 2023 InterviewHacks.HQ 
    </footer><!--end footer-->
</div>

<script>
  //-----STAR RATINGS
  const stars = document.querySelectorAll('.ratings .fa-regular.fa-star');

stars.forEach((star, index) => {
  star.addEventListener('mouseenter', () => {
    for (let i = 0; i <= index; i++) {
      stars[i].classList.add('hover');
      stars[i].classList.remove('fa-regular');
      stars[i].classList.add('fa-solid');
    }
  });

  star.addEventListener('mouseleave', () => {
    for (let i = 0; i <= index; i++) {
      stars[i].classList.remove('hover');
      stars[i].classList.add('fa-regular');
      stars[i].classList.remove('fa-solid');
    }
  });
});

  //--------download button---------
   function downloadPDF() {
    // Create a virtual link element
    var link = document.createElement('a');
    link.href = '/pdfs/q_and_a.pdf';
    link.download = 'q_and_a.pdf';

    // Programmatically trigger the download
    link.click();
  }

  //----------COUNTRY SCRIPT------------
  const countrySelect = document.getElementById('user_country');
  const citySelect = document.getElementById('city-select');
    countrySelect.addEventListener('change', async () => {
      const selectedOption = countrySelect.options[countrySelect.selectedIndex];
      const countryCode = selectedOption.getAttribute('data-country-code');

      // Fetch the cities of the selected country using the country code
      const response = await fetch(`/cities/${countryCode}`);
      const cities = await response.json();

      // Clear existing options
      citySelect.innerHTML = '<option value="">Select City</option>';

      // Populate the cities dropdown with the retrieved cities
      cities.forEach(city => {
        const option = document.createElement('option');
        option.value = city;
        option.textContent = city;
        citySelect.appendChild(option);
      });
    });
  
    //------------pdf generation----------
  //   document.getElementById('pdf_gen_button').addEventListener('click', function() {
  //   fetch('/generate_pdf', {
  //     method: 'POST',
  //     headers: {
  //       'Content-Type': 'application/json'
  //     },
  //     // body: JSON.stringify({ /* Any data you want to send to the server */ })
  //   })
  //   .then(function(response) {
  //     if (response.ok) {
  //       return response.json();
  //     } else {
  //       throw new Error('Failed to generate PDF');
  //     }
  //   })
  //   .then(function(data) {
  //     const pdfPath = data.pdf_path;
  //     document.getElementById('pdf_frame').src = pdfPath;
  //     document.getElementById('pdf_frame').style.display = 'block';
  //   })
  //   .catch(function(error) {
  //     console.error('Error generating PDF:', error);
  //   });
  // });

  //Showing icons
  function toggleAnswer(index) {
  const answerElement = document.getElementById(`answer${index}`);
  const iconElement = document.querySelector(`#question${index} .question_click i`);
  if (answerElement.style.display === 'none') {
    answerElement.style.display = 'block';
    iconElement.classList.remove('fa-circle-plus');
    iconElement.classList.add('fa-circle-minus');

    
  } else {
    answerElement.style.display = 'none';
    iconElement.classList.remove('fa-circle-minus');
    iconElement.classList.add('fa-circle-plus');
  }
}
</script>
<%- include('./partials/footer') %>